/* 
    Document   : style
    Created on : 17-feb-2013, 18:52:29
    Author     : rhgarcia
    Description:
    Purpose of the stylesheet follows.
*/

#header {
    background-color: #596c71;
    padding: 2em;
    color: white;
    box-shadow: inset 0px -100px 200px rgba(0,0,0,0.5), 0 0px 10px #999;
    margin-bottom: 1em;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
    text-rendering: optimizelegibility;
}

h2{
    color: #bd362f;
}

h3 {
    border-bottom: solid 1px #999;
}

.table{
    display: table;
    width: 100%;
}


.cell{
    display: table-cell;
    border: solid 1px white;
    background-color: #ddd;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1em;
} 
